
html, body {
  margin: 0 auto;
  background-color: #73a3f06e;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100dvh;
}
#top-bar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
}

#logo{
    border-radius: 2px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem; 
    color: #2b44b3;
    width:150px;
    height: 50px;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#user-initials{
    height: 99%;
    border:1px solid rgb(0, 0, 0);
    border-radius: 600px;
    background: none;
    max-width: 60px;
    margin-right:2%;
    font-size:x-large;
    font-family: system-ui, -apple-system, sans-serif;
}
#menu-bar{
    border-top: 1px solid rgb(34, 33, 33);
    display: flex;
    height: 20vh;
    max-height: 70px;
    min-height: 40px;
    align-items: center;
    width: 100%;
    /* background-color:rgba(79, 79, 243, 0.652); */
    background-color: #ffffff;
}

.menu-button {

  background: none;    
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#warning-icon {
    color: rgba(255, 68, 0, 0.726);
    font-size: 1.5rem;
    padding-right: 5px;
}

.menu-button span {
  display: block;
  width: 28px;            
  height: 3px;           
  background-color: #212926;  
  margin: 3px 0;      
  border-radius: 2px;
}

#user-names{
    margin-left:5%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: #141212;
    font-family: system-ui, -apple-system, sans-serif;
    
}

#main-frame{
    flex: 1;
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #73a3f06e;

}
.sidebar{
    width: 100%;
    height: 50vh;
    min-height: 300px;
    max-height: 700px;
    font-family: Arial, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    background-color: rgba(43, 68, 179, 0.877);
    
}
.sidebar td{
    text-align: left;
}

.sidebar button{
    margin-top: 5px;
    background: none;
    border: none;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #ffffff; 
    min-height: 50px;
    display: flex;         
    align-items: center;   
    justify-content: flex-start;
    gap: 12px;    
    padding-left: 20px; 
}
.options i {
    min-width: 20px;
}
.sidebar th{
    margin: 0px;
}

.sidebar tr{
    margin: 0px;
    background-color: transparent;
    color: white;
    padding: 12px;
    text-align: left;
    width: 100%;
    min-height: 35px;
        
}
.sidebar td{
    margin: 0px; 
    width: 100%;

}

.sidebar1 button{
    width: 100%;
    border:  none;
    height: fit-content;

}

.menu_class{
    width: 25vw;
    min-width: 50px;
    max-width: 200px;
    flex-shrink: 0;
    height: 100%;
    height: auto;
    background-color: whitesmoke;
    border-right: 0.001px solid rgb(24, 23, 23,0.5);
}
.menu_class1{
    display: none;
}
.options{
    min-height:30px;
    height: auto;
    width: 95%;
    margin: none;
    text-align: center;
    background-color:transparent;
}
.options:hover{
    font-family: Arial, sans-serif;
    background-color: #293a55;
    color: #ddd;
    
}
#display-area{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* OVERVIEW*/

#welcome_msg{
    border-bottom:2px solid #a7a2a2 ;
    font-family: system-ui, -apple-system, sans-serif;
}
#total-expenses{
    color: rgb(202, 77, 77);
    text-decoration: none;
}
#total-income{
    color: rgb(55, 160, 92);
}

#balance-overview{
    display: flex;
    flex-direction:column;
    border-bottom:2px solid #a7a2a2 ;
    font-family: system-ui, -apple-system, sans-serif;
}
#month-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#month-container p{
    margin-left:2%;
    margin-right: 2.5%;
    font-family: 'Courier New', Courier;
    font-size: x-large;
}
.recent-heading{
    font-size: larger;
    color: #21252c;
    text-decoration: underline solid rgb(65, 58, 105);
    min-height: fit-content;
    margin:20px  5px;
    
}

#summary-card{
    display: flex;
    margin:0 auto;
    flex-direction: row;
    width: 90%;
    max-width: 95%;
    justify-content: space-between;
}
.resent_trans, .exp_trans, .income_trans {
    width: 100%;
    overflow-x: auto; 
}
#summary-card div{
    border: 1px solid rgb(0,0,0,0.1);
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 3%;
    margin-bottom: 2%;

}

#summary-card h4{
    display: flex;
   margin: 0;
   font-family: system-ui, -apple-system, sans-serif;
   background-color: whitesmoke;
   font-size: larger;
   padding: 1px;
   border-radius: 5px;
   font-weight: 500;
   align-items: center;
   justify-content: center;
}
#graph{

    background-color: #fbfdfff3;
    display: flex;
    border:1px solid rgba(153, 153, 153, 0.1);
    border-radius: 6px;
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
}
#graph div{

    border: 1px solid rgb(0,0,0,0.1);
    width:100%;
    max-height: 300px;
    margin:0 auto;
    padding: 0;
    
}
#graph canvas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}


#charts{
    min-height: 200px;
    width: 100%;
    max-width: 850px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
}
#monthly_summary_graph {
    padding: 0;
    display: block;
    width: 100% !important;  
    height: 100% !important;
}
#Overdue-expense-section{

    margin-top: 2%;
    justify-content: center;
    border: none;
}
#Overdue-expense-section p{
    align-self: center;
    text-align: center;
    text-decoration: underline;
    font-family: system-ui, -apple-system, sans-serif;
    
}
#recents-trans-alternative{

    font-family: system-ui, -apple-system, sans-serif;
    text-align: center;
    
}
#income-trans-alternative{

    font-family: system-ui, -apple-system, sans-serif;
    text-align: center;
    
}
#expense-trans-alternative{
     
    font-family: system-ui, -apple-system, sans-serif;
    text-align: center;
    
}
#overdue_exp_list-alternative{

    font-family: system-ui, -apple-system, sans-serif;
    text-align: center;
    
}

.resent_trans{
    border-top: 2px solid rgb(0,0,0,0.5);
    margin: 0 auto;
    max-width: 96%;
}
.resent_trans div p{
    align-self: center;
    text-align: center;
    text-decoration: underline;
    font-size: large;

}

 /* Recents trans table */
#trans-table {
  min-width: 600px; 
  width: max-content;
  margin: 2% auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 5%;

}


#trans-table th {
  background-color: rgba(15, 117, 201, 0.856);
  color: white;
  padding: 3%;
  text-align: left;
  max-height: 30px;
}

#trans-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}

#trans-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#trans-table tr:hover {
  background-color: #ddd;
}

#trans-table {
  border-radius: 8px;
  overflow: hidden;
}
/* expense table */

#expense-table {
  overflow-x: auto;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#expense-table th {
  background-color: #ad413bbb;
  color: white;
  padding: 12px;
  text-align: left;
}

#expense-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}

#expense-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#expense-table tr:hover {
  background-color: #ddd;
}

#expense-table {
  border-radius: 8px;
  overflow: hidden;
}

/* Income table  */
#income-table {
  overflow-x: auto;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#income-table th {
  background-color: rgba(56, 145, 56, 0.849);
  color: white;
  padding: 12px;
  text-align: left;
}

#income-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}


#income-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#income-table tr:hover {
  background-color: #ddd;
}

#income-table {
  border-radius: 8px;
  overflow: hidden;
}


.overview{
    display: none;
}

.overview1{
    padding: 0px;
    flex: 1;
}


/* FOOTER */
    
#footer{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 88, 88);
}
#footer div{
    min-width: 250px;
}


#footer a{
    color: rgb(172, 168, 168);
}
#footer p{
    margin: 0px;
}

/* EXPENSES */

.expense{
    display: none;
}
.expense1{
    padding: 10px;
}
#add-expense{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1.5px solid black;
    margin-top: 5px;
    padding: 5px;
    font-size: larger;
    
}
#add-expense label{
    font-size: 23;
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-larger;
}




#expense-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
    align-content: center;
    
}
.create-expense-card1{
    display: none;
}

.create-expense-card{
    height: 20vh;
    max-height: 50px;
    display:flex;
    margin-left: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(68, 69, 71,0.2);
    border-radius: 5px;
    position: fixed;
    background-color: rgb(68, 139, 231);
    top: 40%;
    left:15%;
    width: 70%;
    min-width: max-content;
    max-width: 900px;
    padding: 5px;

}
.create-expense-card label{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.create-expense-card button{
    background-color: rgb(178, 218, 255);
    border: none;
}


#expenses-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}
.totals{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.totals label{
    font-weight: bold;
    width:20%;
}

#expenses-update-label{
    display: none; 
}

#expenses-update-label1{
    margin-left: 5px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;  
}
.edit-expense{
    display:none;
}
.edit-expense1{
    position: fixed;
    top: 40vh;
    left: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: auto;
    background-color: rgb(82, 112, 112,0.75);
}
.edit-expense1 label{
    padding: 10px;
}
.edit-expense1 button{
    padding: 10px;
}
.submit{
    background-color: rgba(95, 124, 112, 0.377);
    border-radius: 5px;
    margin:3px
}
.submit:hover{
    background-color: rgba(95, 124, 112, 0.8);
}

#expense-entry{
    width: 100px;
    background-color: grey;
    border: 1px solid;
    border-radius: 10px;
    display: none;
}
.input-field{
    border-radius: 5px;
    margin: 3px;
}
/* INCOME  */
.income{
    display: none;
}

.income1{

    padding: 10px;

}

#add-income{
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid black;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: larger;

}

#add-income label{
    font-size: 23;
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    
}
#income-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
}

.create-income-card1{
    display: none;
}

.create-income-card{
    height: 20vh;
    max-height: 50px;
    display:flex;
    margin-left: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(68, 69, 71,0.2);
    border-radius: 5px;
    position: fixed;
    background-color: rgb(68, 139, 231);
    top: 40%;
    left:15%;
    width: 70%;
    max-width: 900px;
    padding: 5px;

}
.create-income-card button{
    background-color: rgb(178, 218, 255);
    border: none;
}

#income-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.lab button{
    height: 80%;
    margin-left: 10px;
}
#save-income-edit{
    background-color: rgb(121, 179, 179);
}
#save-income-edit:hover{
    background-color: rgb(167, 218, 218);
}
#summary-card h4{
    background-color:rgb(228, 228, 248);
    width: fit-content;
}
.transactions-fliter{
    margin: 0px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    min-height: 50px;
    justify-content: space-between;
    gap: 5px;
}
.transactions-fliter select{
    height: 70%;
    border: none;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}
.transactions-fliter label{
    height: 100%;
    font-size: 20px;
    
}

#Overdue-expenses {
    width: max-content;
    min-width: 500px;
    margin: 2% auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

#Overdue-expenses thead tr {
    background-color: rgba(15, 117, 201, 0.856);
}

#Overdue-expenses th {
    color: white;
    padding: 3%;
    text-align: left;
    max-height: 30px;

}

#Overdue-expenses td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#Overdue-expenses td,
#Overdue-expenses th {
    border: none;
}

#Overdue-expenses tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Overdue-expenses tbody tr:hover {
    background-color: #ddd;
}



.settings{
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 2%;
    min-height: max-content;
    gap: 10px;
}
.settings-sections{
    padding-left: 10px;
    width:40;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    border: 0.1px solid hsla(0, 0%, 0%, 0.336);
    border-radius: 7.5px;
    height: max-content;

}
.settings-sections div{

   font-family: Arial, sans-serif;
   justify-content: left;
   padding-left: 10px;
   overflow: hidden;

}
.settings-sections h4{
    font-weight: 200;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: underline;

}
.settings-sections button{
    min-height: 30px;
    width: max-content;
    padding: 5px;
    align-self: flex-start;
}
#setting-edit-button{
    justify-self: end;
    display: flex;
    padding: 3px;
    margin-top: 10px;
    width: max-content;
    margin-right: 20px;
    justify-content: space-between;
    min-width: 50px;
}
#setting-edit-button li{
    padding-left: 2px;
    
}
.show-settings{
    display: none;
    
}
.show-settings1{

  background-color: #ddd;
  height: fit-content;
  height: 100%;
  padding-bottom: 10px;

}
.show-settings1 label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;

}
.settings-input-field ,.settings-input-checkbox{
    margin-top: 10px;

}
.settings-input-field{
    text-align: center;
    min-height: 30px;
    min-width: 100px;
    margin-left:2px;

}

.settings-sections{
    width:92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.settings-sections button {
    width: min(250px, 50%);
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    background-color: #6e7879c4;
    border: none;
    border-radius: 5px;

}
.settings-sections input{
    border-radius: 3px;
    border: none;
    background-color: #eeececab;
    font-size: medium;
}
.settings-sections h4{
    margin: 10px auto;
}
#save-settings-update{
    margin-top: 10px;
    width:80%;
    min-height: 40px;
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(43, 68, 179, 0.533);
    margin-bottom: 3px;
}
#save-settings-update:hover{
    width: 90%;
    padding: 15px;
}
#month-container{
    width: 100%;
    justify-content: right;
}
#month-container p{
    font-size: 25px;
    font-family: 'poppins';
}
#setting-edit-button{
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    min-width: 60px;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    border:none;
    border: 1px solid rgba(248, 243, 243, 0.918);
}
.progress-container{
    width: fit-content;
    min-width: 200px;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ceddf8;
}
.progress-container label{
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 300;
    padding: 0;
   
}

/* SUMMARY SECTION */

.show-summary1{

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

}
.show-summary{
    display: none;
    
}
.summary-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    
}
.summary-card-month{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(170, 255, 170, 0.3);
    border: 2px solid rgba(6, 85, 131, 0.281);
    margin: 10px 10px;

}
.summary-card-month p{

    font-size: larger;
    padding: 0;
    margin: 5px auto;

}
.summary-card-month label{

  border: none;
  border-radius: 5px;
  background-color: rgba(43, 55, 226, 0.11);
  margin: 5px auto;
  padding: 5px;
  min-height: 30px;
  width: 95%;
  align-content: center;
  max-height: max-content;
  
    
}
#summary-heading{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family:'poppins', sans-serif ;
}
#summary-heading h4{
    align-self: center;
    padding: 0px;
    font-size: larger;
    font-weight: 300;
    text-decoration: underline;
}
#summary-heading p{
    text-align: center;
    padding: 5px;
    
}
.recurring{
    display: none;
}
.recurring1 {
    background: #f9fafb;
    padding: 20px;
    font-family: system-ui, -apple-system, sans-serif;
    height: 100%;
}

.recurring1 p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.recurring1 h4 {
    margin-bottom: 10px;
    color: #222;
}


.recurring1 > div {
    margin-bottom: 25px;
    overflow-x: auto;
}


.recurring-tables {
    width: 100%;
    border-collapse: collapse;
    background: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


.recurring-tables thead {
    background: #f1f5f9;
}

.recurring-tables th {
    text-align: left;
    padding: 12px;
    font-size: 13px;
    color: #444;
    font-weight: 600;
}


.recurring-tables td {
    padding: 12px;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #eee;
}


.recurring-tables tbody tr:nth-child(even) {
    background: #fafafa;
}


.recurring-tables tbody tr:hover {
    background: #f1f5f9;
    transition: 0.2s;
}


.recurring-tables td:nth-child(3) {
    font-weight: 600;
    color: #111;
}


#recurring-income td:nth-child(2) {
    color: #16a34a; 
    font-weight: 600;
}

#recurring-expenses td:nth-child(3) {
    color: #dc2626; 
    font-weight: 600;
}
#due_date{
    height: 90%;
}
#current-balance{
    padding: 10px;
}

#Overdue-expenses, #trans-table , #expense-table, #income-table {
    background: white;
}

#Overdue-expenses input, #trans-table input , #expense-table input, #income-table input{
   
   height: 99%;

}
.delete_inc, .delete_exp, .enable_exp_editing, .enable_income_editing{
    margin:5px;
}


@media (max-width:720px){

#menu-bar{
    height: 20vh;
    max-height: 60px;
}

#balance-overview{
    flex-direction: column;
    align-items: center;
}
.sidebar{
    min-height: 50vh;
    max-height: fit-content;
    min-width: 40vw;
    width: 100%;
    background: none;
}

#summary-card{
    display: flex;
    flex-direction: row;
    min-width: 99%; 
    padding: 0;
    margin: 0 auto;
    gap: 5px;
    overflow: hidden;  
    height: auto;
    align-items: center;  

}
#summary-card div{
    padding: 1%;
    margin: 0 auto;
    font-size: small;
    height: auto;
    max-width:31%;
    padding: 5px;
    overflow: hidden;
    height: fit-content;
}
#summary-card h4{
    text-align: center;
    font-weight: 400;
    font-family: system-ui, -apple-system, sans-serif;
    padding: 0;
    
}
#current-balance{
    min-height: 50px;

}

#charts{
    width: 98vw;
    margin: 0 auto;
    margin: 10px auto;
}

#graph{
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin: 0 auto;
}

.menu_class{
    position: absolute;
    left: 0;
    min-width:max-content;
    height: 80vh;
    z-index: 100;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
    background-color: rgba(43, 68, 179, 0.966);

}
.transactions-fliter{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    width: 95%;
    padding: 1%;

}
.transactions-fliter select{
    padding: 5px;
    font-size: medium;
    width: max-content;
}

.create-income-card{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    max-width: 95%;
    top: 20%;
    left: 4%;
    margin: 0 auto;
    min-height: 300px;
    height: fit-content;
    max-height: 80%;
    max-width: 90%;
    margin: 0 auto;
}
.create-expense-card{
    padding-top: 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 4%;
    margin: 0 auto;
    min-height: 50vh;
    max-height: 80%;
    max-width: 90%;
    margin: 0 auto;
}
.create-expense-card button, .create-income-card button{
    width: 60%;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.create-expense-card select, .create-income-card select{
    height: 15vh;
    max-height: 50px;

}
.create-expense-card input, .create-income-card input{
    height: 15vh;
    max-height: 50px;
    max-width: 100%;
}
.create-expense-card label , .create-income-card label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 10px;
    min-height: 10px;
    max-height: 30px;
    padding: 0;
    margin: 0 auto;
    font-size: large;
    font-weight: 100;

}

#footer{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    width: 100%;
    background: none;
}
#footer div{
    height: fit-content;
    margin: 0 auto;
    max-width: 50%;
    padding: 0;
}
.progress-bars-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  max-width: 80vw;
  margin: 0;
}
.show-settings1{
    border: 1px solid rgba(148, 188, 240, 0.87);
    border-radius: 5px;
    width: 99%;
    margin: 0 auto;
    overflow: visible;
    background-color: rgba(43, 68, 179, 0.192);
    
}
.settings{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}
.settings-sections{
    width:92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow: hidden;
    padding: 5px;
    border: 0.1px solid hsla(0, 0%, 0%, 0.336);
    border-radius: 7.5px;

}
.settings-sections button {
    width: min(250px, 50%);
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    background-color: #7c2d2db0;
    border: none;
    border-radius: 5px;

}
.settings-sections input{
    border-radius: 3px;
    border: none;
    background-color: #eeececab;
    font-size: medium;
}
.settings-sections h4{
    margin: 10px auto;

}
#save-settings-update{
    margin-top: 10px;
    width:80%;
    min-height: 40px;
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(43, 68, 179, 0.533);
    margin-bottom: 3px;
}
#save-settings-update:hover{
    width: 90%;
    padding: 15px;
}
#month-container{
    width: 100%;
    justify-content: center;
    font-weight: 350;
}
#month-container p{
    padding: 0;
    margin: 5px;
    font-size: large;
    font-family: system-ui, -apple-system, sans-serif;
}
#setting-edit-button{
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    min-width: 60px;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    border:none;
    border: 1px solid rgba(248, 243, 243, 0.918);
}
#main-frame{
    display: flex;
    flex-direction: row;
}
#display-area{
    margin: 0 auto;
    background-color: #9eaadb34;
    border: none;
    max-width: 99.9%;

}
#user-names{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.progress-container{
    margin: 10px auto ;
    min-height: 30px;
    width: fit-content;
    min-width: 99%;
    background-color: whitesmoke;
    
}
#Overdue-expenses, #trans-table , #expense-table, #income-table {
    min-width: 100%;

}

#Overdue-expenses td, #resent_trans td , #expense-table td , #income-table td {
    gap: 3px;

}

}




















