
html, body {
  margin: 0 auto;
}
body {

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;


}
#top-bar{

    padding-left: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(31, 31, 54, 0);

}

#logo{
    max-height:50px;
    border-radius: 2px;
    font-size: x-large;
    max-width: 160px;
    margin-left: 15px;
    background-color: #36977db4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-initials{
    height: 80%;
    border: solid black;
    border-radius: 50px;
    max-width: 60px;
    margin-right:20px;
    font-size: x-large;
}
#menu-bar{
    border-top: 1px solid rgb(34, 33, 33);
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: rgba(6, 72, 116, 0.938);
}

.menu-button {
  background: none;    
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.menu-button span {
  display: block;
  max-width: 28px;            
  max-height: 3px;           
  background-color: #232927;  
  margin: 3px 0;      
  border-radius: 2px;
}

#user-names{
    margin-left:5%;
    font-family:  Arial, sans-serif;
    font-size: larger;
    color: #141212;
}

#main-frame{
    flex: 1;
    display: flex;
}
.sidebar{
    width: 100%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    background-color: #0a2f66c9;
}

.sidebar button{
    margin-top: 5px;
    background: none;
    border: none;
    width: 100%;
    color: #ddd; 
    min-height: 50px;
}
.sidebar th{
    margin: 0px;
    

}

.sidebar tr{
    margin: 0px;
    background-color: transparent;
    color: white;
    padding: 12px;
    text-align: left;
    width: 100%;
    min-height: 35px;
        
}
.sidebar td{
    margin: 0px; 
    width: 100%;

}

.sidebar1 button{
    width: 100%;
    border:  none;
    height: fit-content;

}

.menu_class{
    width: 15%;
    height: auto;
    background-color: whitesmoke;
    border-right: 0.001px solid rgb(24, 23, 23,0.5);
}
.menu_class1{
    display: none;
}
.options{
    min-height:30px;
    width: 95%;
    margin: none;
    text-align: center;
    background-color:transparent;
}
.options:hover{
    font-family: Arial, sans-serif;
    background-color: #293a55;
    color: #ddd;
    
}
#display-area{
    width: 100vw;
    background-color: rgb(235, 247, 246);
    display: flex;
    flex-direction: column;
}

/* OVERVIEW*/

#welcome_msg{
    border-bottom:2px solid #242424 ;
}
#total-expenses{
    color: rgb(202, 77, 77);
    text-decoration: none;
}
#total-income{
    color: rgb(55, 160, 92);
}

#balance-overview{
    display: flex;

}
.recent-heading{
    font-size: larger;
    color: #21252c;
    text-decoration: underline solid rgb(65, 58, 105);
    min-height: fit-content;
    margin:20px  5px;
    
}

#summary-card{
    border-radius: 10px;
    background-color: #bbbaba59;
    display: flex;
    margin:10px auto;
    flex-direction: column;
    width: 25%;


}
#summary-card div{
    border-radius: 10px;
    background-color: rgb(109, 138, 139,0.1);
    margin: 10px 10px;
}

#summary-card h4{
   margin: 0;
   font-family: Arial, sans-serif;
   font-size: larger;
   background-color: none;
   text-decoration: none;
}
#graph{

    background-color: #fbfdfff3;
    display: flex;
    border-bottom:1px solid rgb(221, 164, 164);
    border-top:5px solid rgb(94, 86, 86,0.4);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    width: 80%;
    margin: 0 auto;
}
#graph div{

    border: 1px solid rgb(0,0,0,0.1);
    width:50%;
    max-height: 300px;
    margin:0 auto;
    padding: 0;
    
}
#graph canvas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}


#charts{
    min-height: 200px;
    width: 70%;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
}
#monthly_summary_graph {
    padding: 0;
    display: block;
    width: 100% !important;  
    height: 100% !important;
}

 /* Recents trans table */
#trans-table {
  width: 70%;
  margin: 10px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 5%;

}


#trans-table th {
  background-color: #4f72a7;
  color: white;
  padding: 5%;
  text-align: left;
}

#trans-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}

#trans-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#trans-table tr:hover {
  background-color: #ddd;
}

#trans-table {
  border-radius: 8px;
  overflow: hidden;
}
/* expense table */

#expense-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#expense-table th {
  background-color: #e2b5b3;
  color: white;
  padding: 12px;
  text-align: left;
}

#expense-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}


#expense-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#expense-table tr:hover {
  background-color: #ddd;
}

#expense-table {
  border-radius: 8px;
  overflow: hidden;
}

/* Income table  */
#income-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#income-table th {
  background-color: rgb(139, 212, 139);
  color: white;
  padding: 12px;
  text-align: left;
}

#income-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}


#income-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#income-table tr:hover {
  background-color: #ddd;
}

#income-table {
  border-radius: 8px;
  overflow: hidden;
}


.overview{
    display: none;
}

.overview1{
    padding: 0px;
    flex: 1;
}


/* FOOTER */
#footer{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 88, 88);
}
#footer div{
    flex: 1;
    margin-left: 30px;
}


#footer a{
    color: rgb(172, 168, 168);
}
#footer p{
    margin: 0px;
}

/* EXPENSES */

.expense{
    display: none;
}
.expense1{
    padding: 0px;
}
#add-expense{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1.5px solid black;
}
#add-expense label{
    font-size: 23;
    padding: 10px;
}



#expense-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
    align-content: center;
    
}
#expenses-label{
    margin-left: 5px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;  
}
#expenses-label label{
    width:20%;
}
.expense-card{
    margin-top: 10px;
    height:40px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
    flex-shrink: 0; 
    border: 1px solid rgb(43, 41, 41) !important;
}
.expense-card label{
   flex: 1;     
   text-align: left;
    line-clamp: 1;
    display: -webkit-box;        
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical;
    overflow: hidden;          
    text-overflow: ellipsis; 
}
.create-expense-card1{
    display: none;
}
.create-expense-card{
    min-height:50px;
    display:flex;
    margin-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(68, 69, 71,0.2);
    border-radius: 10px;
    position: fixed;
    background-color: #e2b5b3;
    top: 40%;
    left: 20%;
    z-index: 500;
    width: 70%;
    padding: 5px;

}
.create-expense-card label{
    height: 80%;
    display: flex;
    flex-direction: column;
}

#description-input{
    width: 30%;
}
#expenses-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}
.totals{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.totals label{
    font-weight: bold;
    width:20%;
}

#expenses-update-label{
    display: none; 
}

#expenses-update-label1{
    margin-left: 5px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;  
}
.edit-expense{
    display:none;
}
.edit-expense1{
    position: fixed;
    top: 40vh;
    left: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: auto;
    background-color: rgb(82, 112, 112,0.75);
}
.edit-expense1 label{
    padding: 10px;
}
.edit-expense1 button{
    padding: 10px;
}
.submit{
    background-color: rgba(95, 124, 112, 0.377);
    border-radius: 5px;
    margin:3px
}
.submit:hover{
    background-color: rgba(95, 124, 112, 0.8);
}

#expense-entry{
    width: 100px;
    background-color: grey;
    border: 1px solid;
    border-radius: 10px;
    display: none;
}
.input-field{
    border-radius: 5px;
    margin: 3px;
}
/* INCOME  */
.income{
    display: none;
}

.income1{

    padding:0px;

}

#add-income{
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid black;

}

#add-income label{
    font-size: 23;
    padding: 10px;
}

#income-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
}
#income-label{
    margin-left: 5px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;  
}
#income-label label{
  flex: 1;
}
.income-card{
    margin-top: 10px;
    height:40px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
    flex-shrink: 0; 
    border: 1px solid rgb(43, 41, 41) !important;
}
.income-card label{
   flex: 1;     
   text-align: left;
    line-clamp: 1;
    display: -webkit-box;        
    -webkit-line-clamp: 1;      
    -webkit-box-orient: vertical;
    overflow: hidden;          
    text-overflow: ellipsis; 
}
.create-income-card1{
    display: none;
}
#income-category-input{
    width: 40%;
}
.create-income-card{
    height:50px;
    width: 60%;
    padding: 10px;
    background-color: rgb(139, 212, 139);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgba(97, 96, 96, 0.2);
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 30%;
    width: 60%;
    z-index: 500;

}

#income-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}
.totals{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.totals label{
    font-weight: bold;
    width:20%;
}
.edit-income{
    display:none;
}
.edit-income1{
    position: fixed;
    top: 40vh;
    left: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: auto;
    background-color: rgb(82, 112, 112,0.75);
}
.edit-income1 label{
    padding: 10px;
}
.edit-income1 button{
    padding: 10px;
    margin-left: 10px;
}
.lab button{
    height: 80%;
    margin-left: 10px;
}
#save-income-edit{
    background-color: rgb(121, 179, 179);
}
#save-income-edit:hover{
    background-color: rgb(167, 218, 218);
}
#summary-card h4{
    background-color:rgb(228, 228, 248);
    width: fit-content;
}
.transactions-fliter{
    margin: 0px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    justify-content: space-between;
}
.transactions-fliter select{
    height: 70%;
    border: none;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}
.transactions-fliter label{
    height: 100%;
    font-size: 20px;
    
}



















