
html, body {
  margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100dvh;
}
#top-bar{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
}

#logo{
    max-height:50px;
    border-radius: 2px;
    padding: 5px;
    font-size: x-large;
    max-width: 160px;
    background-color: #749ea525;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem; 
    color: #2b44b3
}
#user-initials{
    height: 99%;
    border:1px solid rgb(0, 0, 0);
    border-radius: 600px;
    background: none;
    max-width: 60px;
    margin-right:2%;
    font-size:x-large;
}
#menu-bar{
    border-top: 1px solid rgb(34, 33, 33);
    display: flex;
    height: 20vh;
    max-height: 70px;
    min-height: 40px;
    align-items: center;
    width: 100%;
    background-color:rgba(75, 75, 196, 0.452);
}

.menu-button {

  background: none;    
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#warning-icon {
    color: rgba(255, 68, 0, 0.726);
    font-size: 1.5rem;
    padding-right: 5px;
}

.menu-button span {
  display: block;
  width: 28px;            
  height: 3px;           
  background-color: #212926;  
  margin: 3px 0;      
  border-radius: 2px;
}

#user-names{
    margin-left:5%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: #141212;
    
}

#main-frame{
    flex: 1;
    display: flex;
    max-width: 100%;
    overflow-x: hidden;

}
.sidebar{
    width: 100%;
    height: 50vh;
    min-height: 300px;
    max-height: 700px;
    font-family: Arial, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    background-color: rgba(43, 68, 179, 0.877);
}
.sidebar td{
    text-align: left;
}

.sidebar button{
    margin-top: 5px;
    background: none;
    border: none;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #ffffff; 
    min-height: 50px;
    display: flex;         
    align-items: center;   
    justify-content: flex-start;
    gap: 12px;    
    padding-left: 20px; 
}
.options i {
    min-width: 20px;
}
.sidebar th{
    margin: 0px;
}

.sidebar tr{
    margin: 0px;
    background-color: transparent;
    color: white;
    padding: 12px;
    text-align: left;
    width: 100%;
    min-height: 35px;
        
}
.sidebar td{
    margin: 0px; 
    width: 100%;

}

.sidebar1 button{
    width: 100%;
    border:  none;
    height: fit-content;

}

.menu_class{
    width: 25vw;
    min-width: 50px;
    max-width: 200px;
    flex-shrink: 0;;
    height: 100%;
    height: auto;
    background-color: whitesmoke;
    border-right: 0.001px solid rgb(24, 23, 23,0.5);
}
.menu_class1{
    display: none;
}
.options{
    min-height:30px;
    height: auto;
    width: 95%;
    margin: none;
    text-align: center;
    background-color:transparent;
}
.options:hover{
    font-family: Arial, sans-serif;
    background-color: #293a55;
    color: #ddd;
    
}
#display-area{
    flex: 1;
    width: 100%;
    background-color: rgb(235, 247, 246);
    display: flex;
    flex-direction: column;
}

/* OVERVIEW*/

#welcome_msg{
    border-bottom:2px solid #242424 ;
}
#total-expenses{
    color: rgb(202, 77, 77);
    text-decoration: none;
}
#total-income{
    color: rgb(55, 160, 92);
}

#balance-overview{
    display: flex;
    flex-direction:column;
    border-bottom: 2px solid rgb(0,0,0,0.5);
}
#month-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#month-container p{
    margin-left:2%;
    margin-right: 2.5%;
    font-family: 'Courier New', Courier;
    font-size: x-large;
}
.recent-heading{
    font-size: larger;
    color: #21252c;
    text-decoration: underline solid rgb(65, 58, 105);
    min-height: fit-content;
    margin:20px  5px;
    
}

#summary-card{
    display: flex;
    margin:0 auto;
    flex-direction: row;
    width: 90%;
    max-width: 95%;
    justify-content: space-between;

}
.resent_trans, .exp_trans, .income_trans {
    width: 100%;
    overflow-x: auto; 
}
#summary-card div{

    border: 1px solid rgb(0,0,0,0.1);
    border-radius: 8px;
    background-color: rgb(109, 138, 139,0.1);
    padding: 3%;
    margin-bottom: 2%;

}

#summary-card h4{
   margin: 0;
   font-family: Arial, sans-serif;
   font-size: larger;
   background-color: none;
   text-decoration: none;
}
#graph{

    background-color: #fbfdfff3;
    display: flex;
    border:1px solid rgba(153, 153, 153, 0.1);
    border-radius: 6px;
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
}
#graph div{

    border: 1px solid rgb(0,0,0,0.1);
    width:100%;
    max-height: 300px;
    margin:0 auto;
    padding: 0;
    
}
#graph canvas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}


#charts{
    min-height: 200px;
    width: 100%;
    max-width: 850px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
}
#monthly_summary_graph {
    padding: 0;
    display: block;
    width: 100% !important;  
    height: 100% !important;
}
#Overdue-expense-section{

    margin-top: 2%;
    justify-content: center;
    border: none;
}
#Overdue-expense-section p{
    align-self: center;
    text-align: center;
    text-decoration: underline;
    font-size: large;
    
}
#recents-trans-alternative{
    display: none;
}
#income-trans-alternative{
    display: none;
}
#expense-trans-alternative{
    display: none;
}
#overdue_exp_list-alternative{
    display: none;
}

.resent_trans{
    width: 100%;
    border-top: 2px solid rgb(0,0,0,0.5);
}
.resent_trans div p{
    align-self: center;
    text-align: center;
    text-decoration: underline;
    font-size: large;

}

 /* Recents trans table */
#trans-table {
  min-width: 600px; 
  width: max-content;
  margin: 2% auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 5%;

}


#trans-table th {
  background-color: rgba(94, 153, 201, 0.822);
  color: white;
  padding: 3%;
  text-align: left;
  max-height: 30px;
}

#trans-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}

#trans-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#trans-table tr:hover {
  background-color: #ddd;
}

#trans-table {
  border-radius: 8px;
  overflow: hidden;
}
/* expense table */

#expense-table {
  overflow-x: auto;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#expense-table th {
  background-color: #e2b5b3;
  color: white;
  padding: 12px;
  text-align: left;
}

#expense-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}

#expense-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#expense-table tr:hover {
  background-color: #ddd;
}

#expense-table {
  border-radius: 8px;
  overflow: hidden;
}

/* Income table  */
#income-table {
  overflow-x: auto;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


#income-table th {
  background-color: rgb(139, 212, 139);
  color: white;
  padding: 12px;
  text-align: left;
}

#income-table td {
  border: 1px solid #796e6e;
  padding: 12px;
}


#income-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


#income-table tr:hover {
  background-color: #ddd;
}

#income-table {
  border-radius: 8px;
  overflow: hidden;
}


.overview{
    display: none;
}

.overview1{
    padding: 0px;
    flex: 1;
}


/* FOOTER */
    
#footer{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 88, 88);
}
#footer div{
    min-width: 250px;
}


#footer a{
    color: rgb(172, 168, 168);
}
#footer p{
    margin: 0px;
}

/* EXPENSES */

.expense{
    display: none;
}
.expense1{
    padding: 0px;
}
#add-expense{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1.5px solid black;
}
#add-expense label{
    font-size: 23;
    padding: 2%;
}



#expense-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
    align-content: center;
    
}
.create-expense-card1{
    display: none;
}

.create-expense-card{
    height: 20vh;
    max-height: 40px;
    display:flex;
    margin-left: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(68, 69, 71,0.2);
    border-radius: 5px;
    position: fixed;
    background-color: #e2b5b3;
    top: 40%;
    left:15%;
    width: 70%;
    max-width: 900px;
    padding: 5px;

}
.create-expense-card label{
    height: 80%;
    display: flex;
    flex-direction: column;
}


#expenses-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}
.totals{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.totals label{
    font-weight: bold;
    width:20%;
}

#expenses-update-label{
    display: none; 
}

#expenses-update-label1{
    margin-left: 5px;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;  
}
.edit-expense{
    display:none;
}
.edit-expense1{
    position: fixed;
    top: 40vh;
    left: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: auto;
    background-color: rgb(82, 112, 112,0.75);
}
.edit-expense1 label{
    padding: 10px;
}
.edit-expense1 button{
    padding: 10px;
}
.submit{
    background-color: rgba(95, 124, 112, 0.377);
    border-radius: 5px;
    margin:3px
}
.submit:hover{
    background-color: rgba(95, 124, 112, 0.8);
}

#expense-entry{
    width: 100px;
    background-color: grey;
    border: 1px solid;
    border-radius: 10px;
    display: none;
}
.input-field{
    border-radius: 5px;
    margin: 3px;
}
/* INCOME  */
.income{
    display: none;
}

.income1{

    padding:0px;

}

#add-income{
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid black;

}

#add-income label{
    font-size: 23;
    padding: 10px;
}

#income-month{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.add-entry{
    height:90%;
    width:30px;
    font-size: x-large;
}

.create-income-card1{
    display: none;
}

.create-income-card{
    height: 20vh;
    max-height: 40px;
    display:flex;
    margin-left: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(68, 69, 71,0.2);
    border-radius: 5px;
    position: fixed;
    background-color: #e2b5b3;
    top: 40%;
    left:15%;
    width: 70%;
    max-width: 900px;
    padding: 5px;

}

#income-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 5px;              
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.lab button{
    height: 80%;
    margin-left: 10px;
}
#save-income-edit{
    background-color: rgb(121, 179, 179);
}
#save-income-edit:hover{
    background-color: rgb(167, 218, 218);
}
#summary-card h4{
    background-color:rgb(228, 228, 248);
    width: fit-content;
}
.transactions-fliter{
    margin: 0px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    min-height: 50px;
    justify-content: space-between;
}
.transactions-fliter select{
    height: 70%;
    border: none;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}
.transactions-fliter label{
    height: 100%;
    font-size: 20px;
    
}

#Overdue-expenses {
    width: max-content;
    min-width: 500px;
    margin: 2% auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

#Overdue-expenses thead tr {
    background-color: rgba(94, 153, 201, 0.822);
}

#Overdue-expenses th {
    color: white;
    padding: 3%;
    text-align: left;
    max-height: 30px;

}

#Overdue-expenses td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#Overdue-expenses td,
#Overdue-expenses th {
    border: none;
}

#Overdue-expenses tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


#Overdue-expenses tbody tr:hover {
    background-color: #ddd;
}
.progress-bars-container {
  display: flex;
  background:none;
  align-content: center;
  justify-content: space-around;
}
.progress-bar{
    min-height: 45px;
    min-width: 300px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}

.progress-bar::-webkit-progress-bar {
  background-color: #ffffff;
   border-radius: 10px;

}

.progress-bar::-webkit-progress-value {
  background-color: #5892ac7e;
    border-radius: 10px;

}
.settings1{
    display: none;
}
.settings{
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 2%;
    min-height: max-content;
}
.settings-sections{
    padding-left: 10px;
    width:40;
    display: flex;
    flex-direction: column;

}
.settings-sections div{

   font-family: Arial, sans-serif;
   justify-content: left;
   padding-left: 10px;
   overflow: hidden;

}
.settings-sections h4{
    font-weight: 200;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: underline;

}
.settings-sections button{
    min-height: 30px;
    width: max-content;
    padding: 5px;
    align-self: flex-start;


}
#setting-edit-button{
    justify-self: end;
    display: flex;
    padding: 3px;
    margin-top: 10px;
    width: max-content;
    margin-right: 20px;
    justify-content: space-between;
    min-width: 50px;
}
#setting-edit-button li{
    padding-left: 2px;
    
}
.show-settings{
    display: none;
    
}
.show-settings1{
  background-color: #ddd;

}
.show-settings1 label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;

}
.settings-input-field ,.settings-input-checkbox{
    margin-top: 10px;

}
.settings-input-field{
    min-height: 30px;
    min-width: 100px;
    margin-left:2px;

}



@media (max-width:720px){

#menu-bar{
    height: 20vh;
    max-height: 60px;
}

#balance-overview{
    flex-direction: column;
    align-items: center;
}
.sidebar{
    min-height: 50vh;
    max-height: 70vh;
    min-width: 40vw;
    width: 100%;
}

#summary-card{
    display: flex;
    width: 99%; 
}
#summary-card div{
    padding: 1%;
}

#charts{
    width: 98vw;
    margin: 0 auto;
    min-height: 40vh;
}

#graph{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.menu_class{

    min-width:max-content;
    height: fit-content;
    z-index: 100;

}
.transactions-fliter{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    min-height: 30px;
    width: 95%;
    padding: 1%;
}
.create-income-card{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 5%;
    margin: 0 auto;
    min-height: 300px;
    height: fit-content;
    max-height: 80%;
    max-width: 90%;
    margin: 0 auto;
}
.create-expense-card{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 5%;
    margin: 0 auto;
    min-height: 300px;
    height: fit-content;
    max-height: 80%;
}
.create-expense-card button, .create-income-card button{
    width: 60%;
    background: rgb(115, 154, 177);
    min-height: 40px;
    margin: 0 auto;
}
.create-expense-card select, .create-income-card select{
    height: 15vh;
    max-height: 50px;
}
.create-expense-card input, .create-income-card input{
    height: 15vh;
    max-height: 50px
}

#footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-top:50px;
    padding: 0;
}
#footer div{
    height: fit-content;
    margin: 0 auto;
    padding: 0;
}
.progress-bars-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  max-width: 80vw;
  margin: 0;
}
.settings{
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 2%;
}
.settings-sections{
    width:40;
    display: flex;
    flex-direction: column;

}

}




















